.div1{
    display: flex;
    justify-content: space-around;
    margin: 30px;
}
.div2{
    border-radius: 30px;
    height: 300px;
    width: 300px;
    position: relative;
    top: 80px;
    background-color: black;
    box-shadow: 10px 10px 10px rgb(255, 255, 255);
    border: 1px solid white;
}

.img1{
    border-radius: 30px;
    width: 250px;
    height:200PX;
    position: relative;
    left: 12px;
    top: 7px;
}

.p1{
    text-align: center;
    position: relative;
    top: 10px;
}
.btn1{
    border: 1px solid rgb(255, 115, 0);
    border-radius: 20px;
    position: relative;
    left:   90PX;
    color: orange;
}
.poo{
    height: 160px;
    position: relative;
    top: 100px;
    background-color: black;
    color: white;
}
.divoooo{
    display: flex;
}
.pp , .divoooo{
    position: relative;
    left: 20px;
}
a{
    color: orange;
}
.sss{
    position: relative;
}